.jumbotron{
   color:white;
   text-align: center;
   height: 40vh;
}
.jumbotron img{
  border-radius: 50px;
}
.main{
    height: 40vh;
    width: 100%;
}
.footer{
    text-align: center;
}
.main-body h5{
   text-align: center;
   color: lightcoral;
}
.main-body{
    text-align: center;
}
div{
    padding-right: 10px;
}