.jumbotron{
    color:white;
   text-align: center;
}
.jumbotron img{
  border-radius: 50px;
}
.main{
    height: 40vh;
    width: 100%;
}
.footer{
    text-align: center;
}
.main-body{
   text-align: center;
   color: lightcoral;
}