@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Parisienne&family=Playball&display=swap');
body{
    font-family: 'Kaushan Script', cursive;
}
.jumbotron{
   color:white;
   text-align: center;
   height: 40vh;
}
.jumbotron img{
  border-radius: 50px;
}
.main{
    height: 40vh;
    width: 100%;
}
.footer{
    text-align: center;
}
.main-body h5{
   text-align: center;
   color: lightcoral;
}
.main-body{
    text-align: center;
}
div{
    padding-right: 10px;
}
.row{
    margin-top: 20px;
}
p{
    font-family: 'Kaushan Script', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Playball', cursive;
}
input{
    margin-right: 40px;
    margin-bottom: 10px;
}
span{
    text-align: center;
}